<h1 class="mt-3"><%= site_name %></h2>

<div class="row">
  <% @tables.order("created_at desc").each do |table| %>
    <div class="col-lg-4 portfolio-item">
      <div class="card h-100 portfolio-item-body">
        <%= link_to image_tag(table.hero_image, :class => "card-img-top portfolio-item-img"), controller: "main", action: "product", table_id: table.id %>
        <div class="card-body">
          <h4 class="card-title text-left">
            <%= link_to table.title, controller: "main", action: "product", table_id: table.id %>
          </h4>
          <p class="card-text text-left"><%= table.description.truncate(50) %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

